/*-Cards-*/

@media (max-width: 600px) {
    .info-cards .card {
        flex-direction: column;
        text-align: center;
        padding: 3rem 2rem;

        img {
            margin: -80px 0 2rem;
            height: 250px;
            max-width: 100%;
            border-radius: variables.$radio-borde;
        }

        .contenido {
            h3 {
                font-size: 1.6rem;
            }

            p {
                max-width: 360px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 440px) {
    .info-cards .card img {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        border: 12px solid variables.$color-blanco;
        margin: -100px 0 1.5rem;
        box-shadow: none;
    }
}