// Colores
$color-cuero: #5C4033;
$color-beige: #F5F1EA;
$color-crema: #D9C6B0;
$color-texto: #2E2E2E;
$color-oro: #CBA135;
$color-blanco: #FFFFFF;

// Tipografías
$titulo-font: 'Playfair Display', serif;
$texto-font: 'Lato', sans-serif;

// Otros
$radio-borde: 8px;
